@import url('https://fonts.googleapis.com/css2?family=Delius&family=Poetsen+One&display=swap');

body {
  background-image: url("https://imagedelivery.net/LBWXYQ-XnKSYxbZ-NuYGqQ/581eec25-1b9f-4439-ce1c-0e13da081b00/banner");
  text-align: center;
  margin: auto;
   font-family: "Poetsen One", serif;
}

h1{
  font-size: 30px;
  color: white;
}

h3{
  font-size: 14px;
  color: #bacbf5;
}

#myCanvas {
  background-size: 600px 400px;
  border-radius: 30px;
  border: 5px solid white;
}



